@{
    ViewBag.Title = "BOOK Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books Page</title>
</head>
<body>
    <div>
        <p>sadasdassda</p>
        <p>sadasdassda</p>
    </div>
</body>
</html>
